html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  margin: 0;
}

.fs-6 {
  color: #19345e;
  font-size: 2em !important;
}

.fs-1 {
  color: #19345e;
  font-size: 5.3em !important;
}

.fs-4 {
  color: #19345e;
  font-size: 2.1em !important;
}

h3 {
  color: #19345e;
}

.header {
  height: 70px;
  background-color: #ffffff;
}

.navbar-nav .nav-link {
  font-weight: bold;
}

.active {
  color: #f47522 !important;
}

.nav-link:hover {
  color: #f47522 !important;
}

#profile-image {
  border-radius: 100%;
}

#custom-btn {
  border-radius: 50px;
  background-color: #f47522;
}

#custom-btn:hover {
  color: black;
}

.content {
  background-image: url("/assets/img/bg-img.png");
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#side-image {
  background-image: url("/assets/img/charles-rRWiVQzLm7k-unsplash.jpg");
  background-size: cover;
  opacity: 80%;
}

#overlay {
  background: #19345ea6;
  z-index: 2;
}

#form {
  padding: 5em 6em;
}

@media (min-width: 400px) {
  .content {
    font-size: 0.4em;
  }
}

@media (min-width: 576px) {
  .content {
    font-size: 0.6em;
  }
}

@media (min-width: 992px) {
  .content {
    font-size: 1em;
  }
}

@media (min-width: 1100px) {
  .content {
    font-size: 1.2em;
    height: 100%;
  }
}
